tavily-python
crawl4ai
langchain-groq
doc2txt
pypdf
unstructured
huggingface-hub
langchain_experimental
pandas
openpyxl
langchain-core~=0.3.31
langchain-community
google-generativeai
chromadb
fastapi
langchain-huggingface
uvicorn
torch
torchvision
torchaudio
sentence-transformers==3.4.0
pydantic~=2.10.6
langchain-experimental~=0.3.4
langchain~=0.3.15
pillow~=10.4.0
moviepy[ffmpeg]==1.0.3